.content-subtitle {
    font-family: 'Inter', Arial, sans-serif;
    width: 640px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    
}


@media screen and (min-width: 320px) {
    .content-subtitle {
        font-size: 16px;
        line-height: 23px;
        max-width: 100%;
        
        
        
    }
}

@media screen and (min-width: 768px) {
    .content-subtitle {
        max-width: 100%;
        font-size: 24px;
        line-height: 35px;
        
        
        
    }
}




