
@import url("../../blocks/place/__header/place__header.css");
@import url("../../blocks/place/__webcite/place__webcite.css");
@import url("../../blocks/place/__content/place__content.css");
@import url("../../blocks/place/__image/place__image.css");
@import url("../../blocks/place/__paragraphs/place__paragraphs.css");
@import url("../../blocks/place/__paragraph/place__paragraph.css");
@import url("../../blocks/place/__title/place__title.css");


.place {
    font-family: 'Inter', Arial, sans-serif;
}


@media screen and (min-width: 320px) {
    .place {
        max-width: 100%;
        
        
    }
}


@media screen and (min-width: 768px) {
    .place {
        max-width: calc(100% - 3rem);
        margin: auto;
        
        
    }
}

@media screen and (min-width: 1024px) {
    .place { 
        max-width: 100%;
        
    }
}


